
@{
    ViewBag.Title = "Index";
}



<div class="container">
    <div class="row">

        <!-- Blog post content -->
        <div class="col-lg-12">
            <br />
            <h2>Hello to the blog.</h2>

            <br />
            <p>
                Blogs can be accessed with a route of the format /Blog/{id}, for example <a href="/Blog/1">https://Localhost:something/Blog/1</a>.
            </p> 
        </div>
    </div>
</div>
